.spinner--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}


.fa-spin {
  font-size: 5rem;
  animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}